.post-upload {
  background-color: $grey;
  margin-left: -4px;
  padding: 20px;
  margin-bottom: 20px;
}

.post-upload__wrapper {
  text-align: center;
}

.post-upload__img {
  margin-bottom: 20px;
  height: 374px;
}

.post-upload__filter-list {
  padding: 0 20px;
  padding-bottom: 71px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
  border-bottom: 1px solid #dddfe0;
}

.post-upload__filter-item {
  position: relative;
}

.post-upload__icon {
  position: relative;
  fill: $icon_disable;

  &--crop {
    fill: $pink;
  }

  &--fill {
    top: 2px;
    left: -8px;
    height: 47px;
  }

  &--contrast {
    top: 7px;
    left: -6px;
  }
}

.post-upload__line {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: $black;
  margin: 0 auto;
  border-bottom: 1px solid $dk_grey;

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 31px;
    width: 10px;
    height: 10px;
    border: 2px solid $pink;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;
  }

  &:active::after {
    background-color: $pink;
  }

  &--crop {
    display: none;
  }

  &--fill {
    position: absolute;
    bottom: -35px;
    left: -105px;
  }

  &--contrast {
    display: none;
  }
}

.post-upload__button-block {
  margin: 0 auto;
  padding-top: 1px;
}

.post-upload__submit {
  font-size: $biger_txt;
  line-height: $small_lh;
  font-weight: $bold;
  color: $pink;
  background-color: $transparent;
  padding: 15px;
  border: 3px solid $pink;
  border-radius: 30px;
  outline: none;
  min-width: 280px;
  margin-bottom: 12px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $pink;
    color: $white;
  }

  &:active {
    color: $text-active;
  }
}

.post-upload__reset {
  font-size: $biger_txt;
  line-height: $small_lh;
  font-weight: $bold;
  color: $dk_grey;
  background-color: $transparent;
  padding: 16px;
  border: 3px solid $dk_grey;
  border-radius: 30px;
  opacity: 0.7;
  outline: none;
  min-width: 275px;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $dk_grey;
    opacity: 1;
  }

  &:active {
    background-color: $dk_grey;
    color: $text-active;
  }
}

@media (min-width: $tablet) {
  .post-upload {
    padding: 20px 20px 30px;
    margin-bottom: 0;
  }

  .post-upload__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .post-upload__img {
    height: 400px;
    padding: 38px 4px 0;
    width: 300px;
  }

  .post-upload__filter-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0;
    padding: 19px;
    padding-left: 43px;
    margin-bottom: 33px;
  }

  .post-upload__filter-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 19px;
    border-bottom: 1px solid #dddfe0;
    margin-bottom: 16px;
    min-height: 42px;
  }

  .post-upload__icon {
    position: relative;
    width: 25px;
    display: flex;
    padding-right: 28px;
    fill: $pink;
    top: -1px;

    &--fill {
      top: 0;
      left: 0;
    }

    &--contrast {
      top: -3px;
      left: 6px;
      width: 17px;
      padding-right: 35px;
    }
  }

  .post-upload__line {
    display: block;
    position: relative;
    top: -1px;
    left: 0;
    margin: 0;
    width: 202px;

    &--crop::after {
      left: 145px;
    }

    &--fill::after {
      left: 25px;
    }

    &--contrast {
      top: -3px;

      &::after {
        left: 96px;
      }
    }


    &::after {
      width: 11px;
      height: 11px;
    }
  }

  .post-upload__button-block {
    margin: 0 auto;
    padding: 0 43px;
  }

  .post-upload__submit {
    min-width: 260px;
    margin-bottom: 23px;
  }

  .post-upload__reset {
    min-width: 260px;
  }
}

@media (min-width: $desktop) {
  .post-upload {
    margin: 0 130px 26px;
    padding: 57px 79px 34px;
  }

  .post-upload__img {
    padding: 0;
  }

  .post-upload__form {
    padding-left: 90px;
  }

  .post-upload__filter-list {
    margin: 0;
    padding: 0;
    margin-bottom: 130px;
  }

  .post-upload__filter-item {
    padding-right: 29px;
    padding-bottom: 0;
    margin-bottom: 17px;
    min-height: 53px;
  }

  .post-upload__icon {
    padding-right: 46px;

    &--crop {
      height: 56px;
      width: 48px;
      top: -8px;
      left: 0;
    }

    &--fill {
      position: relative;
      bottom: 6px;
      left: 1px;
      width: 50px;
      height: 50px;
      padding-right: 43px;
      margin-top: -7px;
    }

    &--contrast {
      width: 47px;
      top: -7px;
      left: 0;
    }
  }

  .post-upload__line {
    height: 3px;
    top: -7px;
    width: 287px;

    &--crop::after {
      left: 70px;
    }

    &--fill::after {
      left: 247px;
    }

    &--contrast::after {
      left: 160px;
    }
  }

  .post-upload__button-block {
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: space-between;
  }

  .post-upload__submit {
    min-width: 186px;
    margin-bottom: 12px;
  }

  .post-upload__reset {
    min-width: 186px;
    margin-bottom: 12px;
  }
}
