.app {
  background-color: #1d2631;
  color: $white;
  font-size: $med_txt;
  line-height: $med_lh;
  text-align: center;
  box-sizing: border-box;
  min-height: 270px;
  padding: 27px 20px 17px;
}

.app__button {
  display: inline-block;
  color: $white;
  font-size: $biger_txt;
  line-height: $small_lh;
  font-weight: $bold;
  background-color: $transparent;
  padding: 16px 36px;
  border: 2px solid $white;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  margin-bottom: 18px;

  &:hover,
  &:focus {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: #f1becc;
  }
}

.app__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 38px;
  margin-bottom: 23px;
  margin-top: 12px;
}

.app__item-link {
  display: block;
  visibility: none;
  outline: 0;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &--ios {
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 57px;
    position: relative;
    top: 3px;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    width: 43px;
    height: 47px;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 41px;
  }
}

.app__description {
  font-size: $med_txt;
  line-height: $med_lh;
  font-weight: $light;
}

@media (min-width: $tablet) {
  .app {
    background-color: $transparent;
    max-width: 350px;
    padding: 27px 0 18px;
    margin: 0;
    margin-left: -20px;
  }

  .app__wrapper {
    padding-bottom: 72px;
  }

  .app__description {
    font-size: $biger_txt;
    margin-left: -8px;
  }

  .app__button {
    padding: 17px 47px;
    margin-bottom: 28px;
    margin-left: -10px;
  }

  .app__list {
    padding: 2px 78px 0;
    padding-left: 66px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop) {
  .app {
    padding: 0 0 5px;
    margin: 0 auto;
    width: 306px;
  }

  .app__wrapper {
    padding-bottom: 99px;
  }

  .app__button {
    padding: 16px 35px;
    margin-bottom: 52px;
    font-size: 20px;
    margin-left: -5px;
  }

  .app__list {
    padding: 0 53px 0 56px;
    margin-bottom: 58px;
    margin-left: -8px;
  }
}
