.аchievements {
  border: 0;
  background-color: $grey;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.аchievements__legend {
  color: $pink;
  font-size: $med_txt;
  line-height: $small_lh;
  font-weight: $regular;
  text-align: center;
  text-transform: uppercase;
}

.аchievements__label {
  color: $blue;
  font-size: $biger_txt;
  line-height: $small_lh;
  font-weight: $regular;
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  margin: 50px 0;

  &:hover .аchievements__checkbox {
    border-color: $blue;
  }

  &:active .аchievements__checkbox {
    border-color: $pink;
  }
}

.аchievements__checkbox {
  content: "";
  position: absolute;
  left: 0.3em;
  top: -3px;
  width: 1.3em;
  height: 1.3em;
  border: 2px solid $l_grey;
  border-radius: 2px;
}

.аchievements__input {
  &:checked + .аchievements__checkbox {
    background-image: url("../img/icon-checked.svg");
    background-position-x: 2px;
    background-position-y: 4px;
    background-size: 19px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    left: 0.3em;
    top: -3px;
    width: 1.3em;
    height: 1.3em;
  }

  &:focus + .аchievements__checkbox {
    border-color: $blue;
  }
}
