.system {
  border: 0;
  background-color: $grey;
  display: flex;
  position: relative;
  padding-top: 120px;
  padding-bottom: 52px;
}

.system__header {
  font-size: $med_txt;
  line-height: $small_lh;
  font-weight: $regular;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
  position: absolute;
  top: 37px;
  left: 0;
}

.system__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.system__item:not(:last-child) {
  margin-bottom: 57px;
}

.system__label {
  color: $blue;
  font-size: $biger_txt;
  line-height: $small_lh;
  font-weight: $regular;
  position: relative;
  margin: 25px 0;
  padding: 12px 75px;
  cursor: pointer;

  &:hover .system__radio {
    border-color: $blue;
  }

  &:active .system__radio {
    border-color: $pink;
  }
}

.system__radio {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 36px;
  height: 36px;
  border: 2px solid $l_grey;
  border-radius: 50%;
}

.system__input {
  &:checked + .system__radio {
    background-image: url("../img/icon-map-marker.svg");
    background-size: cover;
    position: absolute;
    left: 5px;
    top: 4px;
    width: 36px;
    height: 36px;
  }

  &:focus + .system__radio,
  &:hover + .system__radio {
    border-color: $blue;
  }

  &:active + .system__radio {
    border-color: $pink;
  }
}

@media (min-width: $tablet) {
  .system {
    border: 2px solid $grey;
    background-color: $white;
    padding: 5px 12px;
    display: block;
  }

  .system__header {
    position: static;
    padding: 0 25px;
    margin: 0 auto;
  }

  .system__list {
    padding: 48px 67px 58px;
  }

  .system__item:not(:last-child) {
    margin-bottom: 58px;
  }

  .system__label {
    padding: 12px 36px;
  }

  .system__radio {
    left: -23px;
  }

  .system__input {
    &:checked + .system__radio {
      left: -23px;
    }
  }
}

@media (min-width: $desktop) {
  .system__list {
    padding: 53px 67px 59px;
  }

  .system__item:not(:last-child) {
    margin-bottom: 56px;
  }

  .system__label {
    padding-left: 51px;
  }

  .system__radio {
    left: -7px;
  }

  .system__input {
    &:checked + .system__radio {
      top: 5px;
      left: -8px;
    }
  }
}
