.gallery__wrapper {
  box-sizing: border-box;
}

.gallery__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
}

@media (min-width: $tablet) {
  .gallery__list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px;
  }
}
