.label {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 20px;
  background-color: $pink;
  color: $white;
  font-size: $small_txt;
  line-height: $med_lh;
  font-weight: $bold;
  text-transform: uppercase;
  padding: 6px 20px;
  margin: 0;
}

@media (min-width: $tablet) {
  .label {
    top: 57px;
  }
}

@media (min-width: $decktop) {
  .label {
    top: 54px;
    right: 130px;
  }
}
