.panorama {
  background-color: $white;
  position: relative;
  width: 100%;
}

.panorama__container {
  width: 100%;
}

.panorama__img {
  display: block;
  width: 100%;
}

.post__caption {
  background-color: $grey;
  margin: 0 20px;
}
