.post {
  margin: 20px;
  background-color: $grey;
  position: relative;
}

.post__container {
  margin: 0;
}

.post__decription {
  display: none;
}

.post__item {
  color: $blue;
  font-size: $med_txt;
  line-height: $med_lh;
  margin: 25px 20px;
}

.post__author-name {
  font-weight: $bold;
  margin-bottom: 15px;
}

.post__time {
  font-weight: $light;
}

.post__text {
  font-weight: $regular;
  margin: 0;
}

.post__likes-label {
  color: $pink;
  margin: 25px 50px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.post__likes-checkbox {
  position: absolute;
  left: 1em;
  width: 1em;
  height: 1em;
  background-image: url("../img/icon-heart-off.svg");
  background-size: cover;
  fill: $pink;
  cursor: pointer;
}

.post__likes-input:checked + .post__likes-checkbox {
  background-image: url("../img/icon-heart-off.svg");
}
