.contact {
  border: 0;
  display: flex;
  position: relative;
  padding: 32px 18px;
  margin-bottom: 10px;
}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact__item:first-child {
  margin-bottom: 16px;
}

.contact__header {
  display: none;
}

.contact__label {
  font-size: $med_txt;
  font-weight: $regular;
  line-height: $biger_lh;
  color: $pink;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 22px;
  margin-bottom: 5px;
}

.contact__field {
  font-size: $biger_txt;
  font-weight: $regular;
  line-height: $biger_lh;
  color: $blue;
  padding: 15px 20px;
  border: 2px solid $grey;
  box-sizing: border-box;
  outline: 0;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &:focus {
    border-color: $pink;
  }
}

@media (min-width: $tablet) {
  .contact {
    padding: 37px 58px 18px;
    border: 2px solid #f2f2f2;
  }

  .contact__header {
    display: inline;
    color: $pink;
    font-size: $med_txt;
    line-height: $small_lh;
    font-weight: $regular;
    text-align: center;
    text-transform: uppercase;
    padding: 0 31px;
  }

  .contact__item {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .contact__label {
    position: relative;
    padding-left: 18px;
    padding-top: 10px;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: -63px;
      right: 0;
      width: 62px;
      height: 62px;
      background-color: $l_grey;
    }

    &--phone::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      top: -41px;
      right: 21px;
      width: 20px;
      height: 20px;
    }

    &--email::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      top: -38px;
      right: 19px;
      width: 20px;
      height: 15px;
    }
  }

  .contact__field {
    padding: 15px 17px;
  }
}

@media (min-width: $desktop) {
  .contact {
    padding: 33px 56px 0;
  }

  .contact__list {
    justify-content: space-between;
  }

  .contact__item {
    width: 46%;

    &:first-child {
      margin: 0;
    }
  }

  .contact__label {
    margin-bottom: 14px;
    padding-left: 20px;
  }

  .contact__field {
    padding: 15px 20px;
  }
}
