.banner {
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  text-align: center;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--index {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 258px;
      height: 286px;
      bottom: 270px;
      left: calc(50% - 160px);
      background-image: url("../img/iphone-hand-mobile@1x.png");
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-mobile@2x.png");
      }
    }
  }
}

.banner__header {
  font-size: $big_txt;
  color: $white;
  margin: 0;
  padding: 29px 40px 53px;
  font-weight: $light;
  line-height: $biger_lh;
  position: relative;

  &--index {
    min-height: 371px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 24px;
  }

  &--photo {
    padding: 30px 40px 83px;
  }
}


@media (min-width: $tablet) {
  .banner {
    min-height: 328px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--index::before {
      position: absolute;
      content: "";
      width: 700px;
      height: 545px;
      bottom: 0;
      left: calc(50% - 350px);
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }
  }

  .banner__wrapper {
    &--index {
      margin-left: 3%;
      box-sizing: border-box;
      min-width: 320px;
      max-width: 400px;
      position: relative;
    }
  }

  .banner__header {
    margin: 0 auto;
    font-size: $fs-40px;
    line-height: $lh_50;

    &--index {
      padding: 90px 127px 2px 38px;
      min-height: auto;
    }

    &--photo {
      padding: 69px 90px 90px;
      font-size: $very-big-txt;
      line-height: 59px;
    }

    &--form {
      padding: 69px 84px 81px;
      font-size: $very-big-txt;
      line-height: 60px;
    }
  }

  .banner__app {
    margin: 0 auto;
  }
}

@media (min-width: $decktop) {
  .banner {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--index::before {
      position: absolute;
      content: "";
      width: 1050px;
      height: 645px;
      bottom: -1px;
      left: calc(50% - 454px);
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  .banner__wrapper {
    &--index {
      padding-left: 130px;
      box-sizing: border-box;
      min-width: 435px;
      max-width: 37%;
      position: relative;
    }
  }

  .banner__header {
    font-size: $very-big-txt;
    padding: 240px 235px 110px;

    &--index {
      max-width: 550px;
      padding: 0;
      padding-top: 220px;
      padding-bottom: 55px;
      min-width: auto;
      line-height: 59px;
    }

    &--photo {
      padding: 175px 270px 103px;
    }

    &--form {
      padding: 174px 200px 101px;
    }
  }
}
