.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__logo {
  text-align: center;
  cursor: pointer;
}

.footer__social {
  margin: 0 70px;
  margin-top: 40px;
}

.footer__made-in {
  font-size: $med_txt;
  line-height: $small_lh;
  font-weight: $light;
  color: $blue;
}

.footer__made-in-logo {
  fill: $pink;

  &:hover,
  &:active {
    fill: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}
