.offer {
  padding: 55px 40px;
  background-color: $white;
  color: $blue;
  font-size: $med_txt;
  line-height: $biger_lh;
  text-align: center;
  font-weight: $regular;
}

.offer__header {
  margin: 0;
}
