/* Colors */

$blue: #283645;
$pink: #d22856;
$white: #ffffff;
$grey: #f2f2f2;
$dk_grey: #7e868f;
$black: #000000;
$green: #2aab6d;
$transparent: rgba(0, 0, 0, 0);


/* Font-size */

$small_txt: 12px;
$med_txt: 14px;
$biger_txt: 18px;
$big_txt: 24px;

/* Line-height */

$small_lh: 18px;
$med_lh: 24px;
$biger_lh: 30px;
$big_lh: 32px;

/* Font-weight */

$light: 300;
$regular: 400;
$bold: 700;
