/* Colors */

$blue: #283645;
$pink: #d22856;
$white: #ffffff;
$grey: #f2f2f2;
$l_grey: #e5e5e5;
$dk_grey: #7e868f;
$slider-grey: #bec2c7;
$icon_disable: #b5b9be;
$black: #000000;
$green: #2aab6d;
$dk-green: #1c9b5e;
$text-active: rgba(255, 255, 255, 0.5);
$transparent-nav: rgba(36, 69, 104, 0.3);
$transparent: rgba(0, 0, 0, 0);


/* Font-size */

$small_txt: 12px;
$med_txt: 14px;
$fs-16px: 16px;
$biger_txt: 18px;
$big_txt: 24px;
$fs-30px: 30px;
$fs-40px: 40px;
$very-big-txt: 50px;

/* Line-height */

$small_lh: 18px;
$med_lh: 24px;
$biger_lh: 30px;
$big_lh: 32px;
$lh__36: 36px;
$vb_lh: 40px;
$lh_50: 50px;

/* Font-weight */

$light: 400;
$regular: 500;
$bold: 700;

/* Resolution */

$tablet: 640px;
$desktop: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
