.map__img {
  position: relative;
  height: 200px;
  background-color: $grey;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(50% 14%, 100% 0, 100% 100%, 0 100%, 0 0);

  &::after {
    position: absolute;
    top: 50%;
    left: calc(50% - 19px);
    text-align: center;
    margin: 0 auto;
    content: "";
    background-image: url("../img/icon-map-marker.svg");
    width: 36px;
    height: 36px;
  }
}

.map__widget {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet) {
  .map__img {
    height: 375px;
  }
}

@media (min-width: $decktop) {
  .map__img {
    height: 505px;
  }
}
